
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    padding: 10px 20px;
}

.logo img {
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 1em;
}

.nav-links a:hover {
    text-decoration: underline;
}

.main-site-button {
    background-color: #61dafb;
    color: #282c34;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.main-site-button:hover {
    background-color: #21a1f1;
}

header {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

header p {
    font-size: 1.2em;
    margin-top: 20px;
    align-self: center;
    margin-left: 20px;
}

header img{
    margin-top: 20px;
    max-width: 300px;
}

section {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 20px 0;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #282c34;
    color: white;
}

#pricing {
    background-color: white;
    padding: 40px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

#pricing p, #pricing ul {
    font-size: 1.2em;
}

#pricing a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #282c34;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#pricing a:hover {
    background-color: #444;
}

footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}